body {
    /*line-height: 1;*/
    /*font-family: "宋体";*/
}


label {
    font-weight: normal;
}

/*.datetimepicker
{
    line-height: 1.1;
}*/

.nav-system-info {
    min-height: 0px;
    height: 25px;
    margin-bottom: 0px;
    border-radius: 0px;
}

    .nav-system-info .navbar-nav > li > a {
        padding: 0px 10px;
        font-size: 12px;
        color: #fff;
    }

.nav-system-header {
    border-radius: 0px;
}

    .nav-system-header a {
        font-weight: bold;
    }

.main-nav a:hover {
    text-decoration: none;
}

@media screen and (min-width: 992px) {
    .system-sidebar .nav > .active > ul {
        display: block;
    }

    /* Widen the fixed sidebar */
    .system-sidebar {
        width: 165px;
    }

    .system-sidebar {
        position: fixed;
        top: 140px;
    }
}

@media screen and (min-width: 1200px) {
    /* Widen the fixed sidebar again */
    .system-sidebar {
        width: 165px;
    }
}

.system-sidenav {
    padding-top: 10px;
    padding-bottom: 10px;
    text-shadow: 0 1px 0 #fff;
    border-radius: 5px;
    background-color: #f8f8f8;
    line-height: 1.2;
}

    .system-sidenav.nav {
        /*padding: 10px 0px 10px 10px;*/
    }

        .system-sidenav.nav a, .system-sidenav.nav .nav-header {
            padding: 5px 10px;
        }

    .system-sidenav .glyphicon-all {
        margin-right: 6px;
    }

    .system-sidenav .text-all {
        color: #563d7c;
        font-size: 15px;
    }

    .system-sidenav.nav .nav a {
        padding: 5px 30px;
        color: #333;
    }

    .system-sidenav.nav .nav > li.active {
        border-right: 2px solid #b94a48;
    }

        .system-sidenav.nav .nav > li.active a {
            color: #b94a48;
            font-weight: bold;
        }

    .system-sidenav.nav .nav-header {
        font-weight: bold;
        color: #428bca;
        font-size: 16px;
    }

    .system-sidenav hr {
        margin: 10px 10px;
        border-top: 1px solid #DDDDDD;
    }

.system-toolbar {
    position: fixed;
    top: 76px;
    left: 0;
    right: 0;
    z-index: 1000;
    background: #fff;
    padding-top: 10px;
}

.system-content {
    padding-top: 55px;
}

.table.list-table {
    table-layout: fixed;
}

    .table.list-table tbody > tr > td {
        white-space: nowrap;
        overflow: hidden;
        vertical-align: middle;
        outline: none;
        empty-cells: show;
        line-height: 1;
        text-overflow: ellipsis;
    }

    .table.list-table tbody > tr {
        cursor: pointer;
        /*height: 61px;*/
    }

    .table.list-table .news, .read {
        text-overflow: ellipsis;
        word-break: break-all;
        word-wrap: break-word;
        white-space: normal;
        height: 32px;
        overflow: hidden;
        font-size: 13px;
        line-height: 1.3;
    }

    .table.list-table .read {
        color: #999;
    }

    .table.list-table .news {
        color: #b94a48;
    }

.table-item-action {
    margin-right: 5px;
}

.timespan-status {
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    margin: 0px 5px;
    float: none;
    color: #3a87ad;
}

.timespan-expired, .timespan-today, .timespan, .timespan-day, .timespan-week, .timespan-month {
    font-size: 20px;
    text-align: center;
    margin: 0px 5px;
    float: none;
}

.timespan-expired {
    color: red;
}

.timespan-day {
    color: #b94a48;
}

.timespan-week {
    color: #c09853;
}

.timespan-month {
    color: #468847;
}

.btn-new {
    width: 100px;
    margin-bottom: 10px;
}

.btn-action {
    width: 72px;
    margin-right: 10px;
}

.btn .caret-right {
    margin-left: 10px;
}

.btn-checkbox {
    padding: 1px 10px;
    float: left;
}

.toolbar-hr {
    margin: 0px 0px 10px 0px;
    border-top: 1px solid #e5e5e5;
}

.item-action {
    /*display: none;*/
}

.input-append-search {
    margin-bottom: 0px;
}

.nav-header > h5 {
}

.title-content-hr {
    margin: 5px 0px;
    border-top: 1px solid #e5e5e5;
}

.comment-content {
    font-size: 13px;
    margin-bottom: 20px;
}

.comment-user, .comment-date {
    color: #999;
    font-size: 13px;
    margin-right: 5px;
}

.comment-action-link {
    font-size: 13px;
}

.note-item {
    margin-top: 10px;
    margin-bottom: 20px;
}

.note-title {
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 5px;
}

.note-content {
    font-size: 13px;
}

.note-hr {
    margin: 5px 0px;
    border-top: 1px dashed #e5e5e5;
}

.note-date {
    color: #999;
    font-size: 13px;
    margin-right: 5px;
}

.note-detail-date {
    color: #999;
    font-size: 13px;
    margin-top: 10px;
}

.note-detail-hr {
    margin: 15px 0px;
    border-top: 1px dashed #e5e5e5;
}

/*
.nav-list > .active > a {
    padding-left: 12px;
    font-weight: bold;
    color: #dd4b39;
    text-shadow: none;
    background-color: transparent;
    border-left: 3px solid #dd4b39;
}*/

.margin-top-10 {
    margin-top: 10px;
}

.list-panel-title {
    margin-bottom: 0px;
}

    .list-panel-title a {
        font-size: 13px;
    }

        .list-panel-title a:hover {
            text-decoration: none;
        }

.panel-title {
    font-weight: bold;
}

.panel-body .table {
    margin-bottom: 0px;
}

.table-panel .panel-body {
    padding-top: 5px;
    font-size: 13px;
}

.panel-user-select {
    margin: 5px 0px;
    padding: 5px;
}

    .panel-user-select .checkbox {
        margin: 2px 10px;
    }

/*.panel-user-select .checkbox input[type="checkbox"] {
            margin: 0px 2px 0px 0px;
        }*/

.panel-pagination {
    /*text-align: center;*/
    /*font-size: 13px;*/
}

    .panel-pagination .pagination {
        margin: 0px 0px 0px -20px;
    }

    .panel-pagination div {
        margin: 5px 10px;
    }

.btn-glyphicon-content {
    margin-left: 3px;
}

.modal-body {
    /*padding: 0px;*/
}

textarea {
    resize: none;
}

.form-control.error {
    border-color: #b94a48;
    /*-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);*/
    /*box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);*/
}

.table div.checkbox {
    width: 100%;
    height: 100%;
}

.error {
    color: #b94a48;
    background-color: #f2dede;
    border-color: #eed3d7;
}

.system-search-panel {
    position: fixed;
    top: 140px;
    background: white;
    display: none;
    width: 550px;
    z-index: 1010;
    padding: 1px;
    text-align: left;
    white-space: normal;
    background-color: #ffffff;
    border: 1px solid #cccccc;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 6px;
    -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    background-clip: padding-box;
    margin: 10px;
    padding-top: 20px;
}

    .system-search-panel .arrow,
    .system-search-panel .arrow:after {
        position: absolute;
        display: block;
        width: 0;
        height: 0;
        border-color: transparent;
        border-style: solid;
    }

    .system-search-panel .arrow {
        left: 520px;
        border-width: 11px;
        top: -11px;
        margin-left: -11px;
        border-bottom-color: #999999;
        border-bottom-color: rgba(0, 0, 0, 0.25);
        border-top-width: 0;
    }

        .system-search-panel .arrow:after {
            border-width: 10px;
            content: "";
            top: 1px;
            margin-left: -10px;
            border-bottom-color: #ffffff;
            border-top-width: 0;
            content: " ";
        }

.budget {
    cursor: pointer;
}

.message-container {
    position: fixed;
    bottom: 0;
    right: 5px;
    width: 300px;
    background-color: white;
    box-shadow: rgba(0,0,0,0.2) 0 2px 6px;
}

.message-list {
    height: 350px;
    border: 1px solid #e7e7e7;
    font-size: 13px;
    overflow-y: auto;
}

    .message-list li > div {
        white-space: nowrap;
        display: inline-block;
        overflow: hidden;
        text-overflow: ellipsis;
        margin-left: 5px;
    }

    .message-list .project-name {
        width: 210px;
    }

    .message-list .change-count {
        width: 40px;
        margin-left: 10px;
    }

    .message-list .badge {
        padding: 2px 5px;
        background-color: #428bca;
        width: 30px;
    }

.message-header {
    padding: 5px 10px;
    color: white;
    background: #404040;
}

    .message-header .badge {
        background-color: white;
        color: #333;
        width: 35px;
    }

    .message-header .glyphicon {
        top: 2px;
        margin-right: 3px;
    }
