<div class="col-md-12">
    <div class="panel panel-default table-panel">
        <div class="panel-heading">
            <ul class="list-unstyled list-inline pull-right list-panel-title">
                <li><a href="#"><span class="glyphicon glyphicon-plus"></span>上传附件</a></li>
                <li><a href="#"><span class="glyphicon glyphicon-download-alt"></span>下载全部</a></li>
            </ul>
            <h3 class="panel-title">附件列表</h3>
        </div>
        <table class="table attchment-table">
            <colgroup>
                <col style="width: 450px;">
                <col style="width: 100px;">
                <col style="width: 150px;">
                <col style="width: 40px;">
            </colgroup>
            <tbody>
                <tr>
                    <td>
                        <a href="#">咨询策划中心任务管理系统--需求分析.docx</a>
                    </td>
                    <td>上传用户
                    </td>
                    <td>2013-8-22 10:20
                    </td>
                    <td>
                        <a href="#"><i class="icon-remove"></i></a>
                    </td>
                </tr>
                <tr>
                    <td>
                        <a href="#">咨询策划中心任务管理系统--需求分析.docx</a>
                    </td>
                    <td>上传用户
                    </td>
                    <td>2013-8-22 10:20
                    </td>
                    <td>
                        <a href="#"><i class="icon-remove"></i></a>
                    </td>
                </tr>
                <tr>
                    <td>
                        <a href="#">咨询策划中心任务管理系统--需求分析.docx</a>
                    </td>
                    <td>上传用户
                    </td>
                    <td>2013-8-22 10:20
                    </td>
                    <td>
                        <a href="#"><i class="icon-remove"></i></a>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
