<div class="col-md-12">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">评论列表</h3>
        </div>
        <div class="panel-body">
            <div class="row">
                <div class="col-md-12">
                    <ul data-bind="foreach: $root.tempDatas" class="list-unstyled comment">
                        <li><span class="comment-user">用户</span> <span class="comment-user">2013-8-20 9:00</span>
                            <ul class="list-unstyled list-inline pull-right">
                                <li><a class="comment-action-link" href="#">修改</a></li>
                                <li><a class="comment-action-link" href="#">删除</a></li>
                            </ul>
                            <hr class="title-content-hr">
                            <p class="comment-content">
                                感谢分享~
                            </p>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
