<div class="col-md-12">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">基本信息</h3>
        </div>
        <div class="panel-body">
            <form id="projectForm" class="form-horizontal">
                <div class="form-group">
                    <label class="col-md-2 control-label">
                        项目类型：</label>
                    <div class="col-md-4">
                        <select data-bind="value: Type, enable: EnableEditProject" class="form-control">
                            <option value="0">纵向研究</option>
                            <option value="1">横向研究</option>
                            <option value="2">横向咨询</option>
                            <option value="3">纵向工作</option>
                            <option value="4">中心工作</option>
                        </select>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-2 control-label">
                        项目名称：</label>
                    <div class="col-md-8">
                        <input data-bind="value: Name, enable: EnableEditProject" class="form-control" type="text">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-2 control-label">
                        委托单位：</label>
                    <div class="col-md-8">
                        <input data-bind="value: Consignor, enable: EnableEditProject" class="form-control" id="description" type="text">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-2 control-label">
                        开始时间：</label>
                    <div class="col-md-4">
                        <div id="StartTime" class="input-group date form_datetime">
                            <input data-bind="value: StartTime, enable: EnableEditProject" class="form-control" type="text" value="">
                            <span data-bind="visible: EnableEditProject" class="input-group-addon">
                                <span class="glyphicon glyphicon-remove"></span>
                            </span>
                            <span data-bind="visible: EnableEditProject" class="input-group-addon">
                                <span class="glyphicon glyphicon-calendar"></span>
                            </span>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-2 control-label">
                        截止时间：</label>
                    <div class="col-md-4">
                        <div id="Deadline" class="input-group date form_datetime">
                            <input data-bind="value: Deadline, enable: EnableEditProject" class="form-control required" type="text" value="">
                            <span data-bind="visible: EnableEditProject" class="input-group-addon">
                                <span class="glyphicon glyphicon-remove"></span>
                            </span>
                            <span data-bind="visible: EnableEditProject" class="input-group-addon">
                                <span class="glyphicon glyphicon-calendar"></span>
                            </span>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-2 control-label">
                        项目状态：</label>
                    <div class="col-md-4">
                        @if (ViewBag.UserInfo.RightDetail.EnableCheckProject)
                        {
                            <select data-bind="value: Status" class="form-control">
                                <option value="0">发布待审</option>
                                <option value="1">发布已审核</option>
                                <option value="2">完成待审</option>
                                <option value="3">完成已审核</option>
                                <option value="4">已取消</option>
                            </select>
                        }
                        else
                        {
                            <select data-bind="value: Status" class="form-control" disabled="disabled">
                                <option value="0">发布待审</option>
                                <option value="1">发布已审核</option>
                                <option value="2">完成待审</option>
                                <option value="3">完成已审核</option>
                                <option value="4">已取消</option>
                            </select>
                        }
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-2 control-label">
                        负责人：</label>
                    <div class="col-md-8">
                        <input id="ManagerIds" data-bind="value: ManagerIds" type="hidden" />
                        <input id="ManagerNames" data-bind="value: ManagerNames" class="form-control" type="text" 
                        @(ViewBag.UserInfo.RightDetail.EnableSetProjectUser ? "" : "disabled='disabled'") />
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-2 control-label">
                        参与人员：</label>
                    <div class="col-md-8">
                        <input id="ParticipantIds" data-bind="value: ParticipantIds" type="hidden" />
                        <input id="ParticipantNames" data-bind="value: ParticipantNames" class="form-control" type="text" 
                        @(ViewBag.UserInfo.RightDetail.EnableSetProjectUser ? "" : "disabled='disabled'") />
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-2 control-label">
                        需完成的材料：</label>
                    <div class="col-md-8">
                        <textarea data-bind="value: NeedFinish, enable: EnableEditProject" class="form-control" rows="4"></textarea>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-2 control-label">
                        当前进展：</label>
                    <div class="col-md-8">
                        <textarea data-bind="value: CurrentProgress, enable: EnableEditProject" class="form-control" rows="4"></textarea>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-2 control-label">
                        推进计划：</label>
                    <div class="col-md-8">
                        <textarea data-bind="value: AdvancePlan, enable: EnableEditProject" class="form-control" rows="4"></textarea>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-2 control-label" for="price">
                        项目金额：</label>
                    <div class="col-md-4">
                        <div class="input-group">
                            <input data-bind="value: FormattedAmount, enable: EnableEditProject" class="form-control" type="text" value="">
                            <span class="input-group-addon">元
                            </span>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-2 control-label" for="taskName">
                        付款方式：</label>
                    <div class="col-md-4">
                        <input data-bind="value: TypeOfPayment, enable: EnableEditProject" class="form-control" type="text" value="">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-2 control-label">
                        到款情况：</label>
                    <div class="col-md-4">
                        <select data-bind="value: AmountReceivedStatus, enable: EnableEditProject" class="form-control">
                            <option value="0">未到款</option>
                            <option value="1">已收前期款</option>
                            <option value="2">已全部到款</option>
                        </select>
                    </div>
                    <div data-bind="visible: AmountReceivedStatus() == '1'" class="col-md-3">
                        <div class="input-group">
                            <input data-bind="value: FormattedAmountReceived, enable: EnableEditProject" class="form-control" type="text" value="">
                            <span class="input-group-addon">已收
                            </span>
                        </div>
                    </div>
                    <div data-bind="visible: AmountReceivedStatus() == '1'" class="col-md-3">
                        <div class="input-group">
                            <input data-bind="value: AmountRemained" class="form-control" type="text" value="" readonly="readonly">
                            <span class="input-group-addon">剩余
                            </span>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-2 control-label">
                        开票情况：</label>
                    <div class="col-md-4">
                        <select data-bind="value: InvoiceStatus, enable: EnableEditProject" class="form-control">
                            <option value="0">未开票</option>
                            <option value="1">已开票</option>
                            <option value="2">已出具到账证明</option>
                        </select>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
<div data-bind="visible: Id" class="col-md-12">
    <div class="panel panel-default table-panel">
        <div class="panel-heading">
            <ul class="list-unstyled list-inline pull-right list-panel-title">
                <li><a data-bind="click: refrushAttachments" href="#"><span class="glyphicon glyphicon-refresh"></span><span class="btn-glyphicon-content">刷新</span></a></li>
                <li>
                    <a data-bind="attr: {'href': Attachments() && Attachments().length > 0 ? '/Project/DownloadAttachments/' + Id() : 'javascript:void(0);'}" target="_blank">
                        <span class="glyphicon glyphicon-download-alt"></span><span class="btn-glyphicon-content">下载全部</span>
                    </a>
                </li>
                <li data-bind="visible: EnableEditProject"><a data-bind="click: addAttachment" href="#"><span class="glyphicon glyphicon-plus"></span><span class="btn-glyphicon-content">上传附件</span></a></li>
            </ul>
            <h3 class="panel-title">附件列表</h3>
        </div>
        <table class="table attchment-table">
            <colgroup>
                <col style="width: 450px;">
                <col style="width: 100px;">
                <col style="width: 150px;">
                <col style="width: 40px;">
            </colgroup>
            <tbody data-bind="foreach: Attachments">
                <tr>
                    <td>
                        <a data-bind="attr: {'href': '/Project/DownloadAttachment/'+ Id}" target="_blank"><span data-bind="text: Name"></span></a>
                    </td>
                    <td>
                        <span data-bind="text: UploadUserName"></span>
                    </td>
                    <td>
                        <span data-bind="text: UploadTime"></span>
                    </td>
                    <td>
                        @if (ViewBag.UserInfo.RightDetail.EnbaleDeleteProject)
                        {
                            <a data-bind="click: $parent.deleteAttachment" href="#"><span class="glyphicon glyphicon-remove"></span></a>
                        }
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
<div data-bind="visible: Id" class="col-md-12">
    <div data-bind="with: CommentPageList" class="panel panel-default">
        <div class="panel-heading">
            <ul class="list-unstyled list-inline pull-right list-panel-title">
                <li><a data-bind="click: $parent.refrushComments" href="#"><span class="glyphicon glyphicon-refresh"></span><span class="btn-glyphicon-content">刷新</span></a></li>
                <li data-bind="visible: $parent.EnableEditProject"><a data-bind="click: $parent.addComment" href="#"><span class="glyphicon glyphicon-comment"></span><span class="btn-glyphicon-content">发表评论</span></a></li>
            </ul>
            <h3 class="panel-title">评论列表</h3>
        </div>
        <div class="panel-body">
            <div class="row">
                <div class="col-md-12">
                    <ul data-bind="foreach: List" class="list-unstyled comment">
                        <li><span data-bind="text: CreatorName" class="comment-user">用户</span> <span data-bind="text: CreateTime" class="comment-user"></span>

                            <ul class="list-unstyled list-inline pull-right">
                                @if (ViewBag.UserInfo.RightDetail.EnbaleDeleteProject)
                                {
                                    <li><a data-bind="click: $parents[1].deleteComment" class="comment-action-link" href="#">删除</a></li>
                                }
                            </ul>
                            <hr class="title-content-hr">
                            <p data-bind="text: Content" class="comment-content">
                            </p>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12 comment-pagination">
                    <ul class="pagination pagination-sm pull-right">
                        <li>
                            <span>
                                <span data-bind="if: Total">第&nbsp;<strong><span data-bind="text: StartIndex"></span>&nbsp;-&nbsp;<span data-bind="text: EndIndex"></span></strong>&nbsp;条，</span><span>共&nbsp;<strong data-bind="text: Total"></strong>&nbsp;条评论</span>
                            </span>
                        </li>
                        <li data-bind="css: PageIndex() > 1 ? undefined : 'disabled'"><a data-bind="click: $parent.prePageComments" href="#"><span class="glyphicon glyphicon-chevron-left"></span></a></li>
                        <li data-bind="css: PageIndex() < MaxPageIndex() ? undefined : 'disabled'"><a href="#" data-bind="click: $parent.nextPageComments"><span class="glyphicon glyphicon-chevron-right"></span></a></li>
                    </ul>


                </div>
            </div>
        </div>
    </div>
</div>

<div id="attachmentDialog" class="modal fade" data-backdrop="false">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" style="font-weight: bold;">选择附件</h4>
            </div>
            <div class="modal-body">
                <div class="row" style="min-height: 200px;">
                    <div class="col-md-12">
                        @*   <form id="attachmentFrom" class="form-horizontal">
                        </form>*@
                        <button data-bind="click: startUploadAttachment" class="btn btn-success">上传文件</button>
                        <button data-bind="click: cancelUploadAttachment" class="btn btn-warning">取消上传</button>
                        <input id="file_upload" name="file_upload" type="file">
                        <div id="queueUpload"></div>
                    </div>
                </div>
                @* <div class="row">
                    <div class="col-md-12">
                        <ul class="list-unstyle list-inline pull-right">
                            <li>
                                <button data-bind="click: saveComment, attr: {'disabled': EditCommentContent() ? undefined : 'disabled'}" type="button" class="btn btn-primary btn-primary">提交评论</button>

                            </li>
                            <li>
                                <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
                            </li>
                        </ul>
                    </div>
                </div>*@
            </div>

        </div>
    </div>
</div>

<div id="commentDialog" class="modal fade" data-backdrop="false">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" style="font-weight: bold;">评论内容</h4>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            <textarea data-bind="value: EditCommentContent, valueUpdate: 'afterkeydown'" class="form-control" rows="8"></textarea>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <ul class="list-unstyle list-inline pull-right">
                            <li>
                                <button data-bind="click: saveComment, attr: {'disabled': EditCommentContent() ? undefined : 'disabled'}" type="button" class="btn btn-primary btn-primary">提交评论</button>

                            </li>
                            <li>
                                <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
