<div class="col-md-12">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">基本信息</h3>
        </div>
        <div class="panel-body">
            <form class="form-horizontal">
                <div class="form-group">
                    <label class="col-md-2 control-label">
                        项目类型：</label>
                    <div class="col-md-4">
                        <select data-bind="value: Type" class="form-control">
                            <option value=""></option>
                            <option value="0">纵向研究</option>
                            <option value="1">横向研究</option>
                            <option value="2">横向咨询</option>
                            <option value="3">纵向工作</option>
                            <option value="4">中心工作</option>
                        </select>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-2 control-label">
                        项目名称：</label>
                    <div class="col-md-8">
                        <input data-bind="value: Name" class="form-control" type="text" id="taskName">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-2 control-label">
                        委托单位：</label>
                    <div class="col-md-8">
                        <input data-bind="value: Consignor" class="form-control" id="description" type="text">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-2 control-label">
                        开始时间：</label>
                    <div class="col-md-4">
                        <div class="input-group date form_datetime">
                            <input data-bind="value: StartTime" class="form-control" type="text" value="">
                            <span class="input-group-addon">
                                <span class="glyphicon glyphicon-remove"></span>
                            </span>
                            <span class="input-group-addon">
                                <span class="glyphicon glyphicon-calendar"></span>
                            </span>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-2 control-label">
                        截止时间：</label>
                    <div class="col-md-4">
                        <div class="input-group date form_datetime">
                            <input data-bind="value: Deadline" class="form-control" type="text" value="">
                            <span class="input-group-addon">
                                <span class="glyphicon glyphicon-remove"></span>
                            </span>
                            <span class="input-group-addon">
                                <span class="glyphicon glyphicon-calendar"></span>
                            </span>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-2 control-label">
                        项目状态：</label>
                    <div class="col-md-4">
                        @{
                            if (ViewBag.User.RightLevel == RightLevel.Common)
                            {
                            <select data-bind="value: Status" class="form-control">
                                <option value="0">发布待审</option>
                                <option value="2">完成待审</option>
                            </select>
                            }
                            else
                            {
                            <select data-bind="value: Status" class="form-control">
                                <option value="0">发布待审</option>
                                <option value="1">发布已审核</option>
                                <option value="2">完成待审</option>
                                <option value="3">完成已审核</option>
                                <option value="4">已取消</option>
                            </select>
                            }
                        }
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-2 control-label">
                        负责人：</label>
                    <div class="col-md-8">

                        <input id="manager" data-bind="value: ManagerIds" type="text" />

                        @*  <div class="input-group">
                            <div class="form-control"></div>
                            <span class="input-group-btn">
                                <a class="btn btn-default">
                                    <span class="glyphicon glyphicon-chevron-down"></span>
                                </a>
                            </span>
                        </div>
                        <div class="panel panel-default panel-user-select">
                            <div data-bind="foreach: $root.users" class="row">
                                <div class="col-md-3">
                                    <div class="checkbox">
                                        <label>
                                            <input data-bind="value: Id" type="checkbox">
                                            <span data-bind="text: Name"></span>
                                        </label>
                                    </div>
                                </div>
                            </div>
                        </div>*@
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-2 control-label">
                        需完成的材料：</label>
                    <div class="col-md-8">
                        <textarea class="form-control" rows="4"></textarea>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-2 control-label">
                        具体进展：</label>
                    <div class="col-md-8">
                        <textarea class="form-control" rows="4"></textarea>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-2 control-label">
                        推进计划：</label>
                    <div class="col-md-8">
                        <textarea class="form-control" rows="4"></textarea>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-2 control-label" for="price">
                        项目金额：</label>
                    <div class="col-md-4">
                        <div class="input-group">
                            <input class="form-control easyui-numberbox" data-options="precision:2,groupSeparator:','" type="text" value="">
                            <span class="input-group-addon">元
                            </span>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-2 control-label" for="taskName">
                        付款方式：</label>
                    <div class="col-md-4">
                        <input class="form-control" type="text" value="">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-2 control-label">
                        到款情况：</label>
                    <div class="col-md-4">
                        <select class="form-control">
                            <option>未到款</option>
                            <option>已收前期款</option>
                            <option>已全部到款</option>
                        </select>
                    </div>
                    <div class="col-md-3">
                        <div class="input-group">
                            <span class="input-group-addon">已收
                            </span>
                            <input class="form-control easyui-numberbox" data-options="precision:2,groupSeparator:','" type="text" value="">
                            <span class="input-group-addon">元
                            </span>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="input-group">
                            <span class="input-group-addon">还有
                            </span>
                            <input class="form-control" type="text" value="">
                            <span class="input-group-addon">元
                            </span>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-2 control-label">
                        开票情况：</label>
                    <div class="col-md-4">
                        <select class="form-control">
                            <option>未开票</option>
                            <option>已开票</option>
                            <option>已出具到账证明</option>
                        </select>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

<script type="text/ecmascript">
    (function ($) {

        var UserSelectBox = function (element, selectedIds) {
            var self = this;

            self.element = $(element);
            self.container = $('<div class="input-group"><div class="form-control"></div><span class="input-group-btn"><a class="btn btn-default"><span class="glyphicon glyphicon-chevron-down"></span></a></span></div>');
            self.userlistPanel = $('<div class="panel panel-default panel-user-select" style="display: none;"><div data-bind="foreach: $root.users" class="row"><div class="col-md-3"><div class="checkbox"><label><input data-bind="value: Id" type="checkbox"><span data-bind="text: Name"></span></label></div></div></div></div>');
            self.init = function () {
                self.element.hide();
                self.container.insertAfter(self.element);
                self.userlistPanel.insertAfter(self.container);

                self.setValue(selectedIds);

                self.container.find("a").click(function () {
                    if ($(this).find("span").hasClass("glyphicon-chevron-down")) {
                        var value = self.element.val();
                        if (value) {
                            self.setValue(value.split(","));
                        }
                    }

                    $(this).find("span").toggleClass("glyphicon-chevron-down glyphicon-chevron-up");
                    self.userlistPanel.toggle();
                });

            }
            self.setValue = function (ids) {
                self.clearValue();
                if (ids) {
                    self.userlistPanel.find("input:checkbox").each(function () {
                        var $this = $(this);
                        for (var i = 0; i < ids.length; i++) {
                            if (ids[i] == $this.val()) {
                                this.checked = true;
                                break;
                            }
                        }
                    });
                }
            };
            self.clearValue = function () {
                self.userlistPanel.find("input:checkbox").each(function () {
                    this.checked = false;
                });
            };
            self.init();
        }

        $.fn.userSelectBox = function () {
            this.each(function () {
                new UserSelectBox(this);
            });
        }

    })(jQuery);
</script>
