<div class="col-md-12">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">基本信息</h3>
        </div>
        <div class="panel-body">
            <form class="form-horizontal">
                <div class="form-group">
                    <label class="col-md-2 control-label">
                        项目类型：</label>
                    <div class="col-md-4">
                        <select data-bind="value: Type" class="form-control">
                            <option value=""></option>
                            <option value="0">纵向研究</option>
                            <option value="1">横向研究</option>
                            <option value="2">横向咨询</option>
                            <option value="3">纵向工作</option>
                            <option value="4">中心工作</option>
                        </select>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-2 control-label">
                        项目名称：</label>
                    <div class="col-md-8">
                        <input data-bind="value: Name" class="form-control" type="text" id="taskName">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-2 control-label">
                        委托单位：</label>
                    <div class="col-md-8">
                        <input data-bind="value: Consignor" class="form-control" id="description" type="text">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-2 control-label">
                        开始时间：</label>
                    <div class="col-md-4">
                        <div class="input-group date form_datetime">
                            <input data-bind="value: StartTime" class="form-control" type="text" value="">
                            <span class="input-group-addon">
                                <span class="glyphicon glyphicon-remove"></span>
                            </span>
                            <span class="input-group-addon">
                                <span class="glyphicon glyphicon-calendar"></span>
                            </span>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-2 control-label">
                        截止时间：</label>
                    <div class="col-md-4">
                        <div class="input-group date form_datetime">
                            <input data-bind="value: Deadline" class="form-control" type="text" value="">
                            <span class="input-group-addon">
                                <span class="glyphicon glyphicon-remove"></span>
                            </span>
                            <span class="input-group-addon">
                                <span class="glyphicon glyphicon-calendar"></span>
                            </span>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-2 control-label">
                        项目状态：</label>
                    <div class="col-md-4">
                        @{
                            if (ViewBag.User.RightLevel == RightLevel.Common)
                            {
                            <select data-bind="value: Status" class="form-control">
                                <option value="0">发布待审</option>
                                <option value="2">完成待审</option>
                            </select>
                            }
                            else
                            {
                            <select data-bind="value: Status" class="form-control">
                                <option value="0">发布待审</option>
                                <option value="1">发布已审核</option>
                                <option value="2">完成待审</option>
                                <option value="3">完成已审核</option>
                                <option value="4">已取消</option>
                            </select>
                            }
                        }
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-2 control-label">
                        负责人：</label>
                    <div class="col-md-8">
                        <input id="ManagerIds" data-bind="value: ManagerIds" type="hidden" />
                        <input id="ManagerNames" data-bind="value: ManagerNames" class="form-control" type="text" />
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-2 control-label">
                        参与人员：</label>
                    <div class="col-md-8">

                        <input id="ParticipantIds" data-bind="value: ParticipantIds" type="hidden" />
                        <input id="ParticipantNames" data-bind="value: ParticipantIds" class="form-control" type="text" />
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-2 control-label">
                        需完成的材料：</label>
                    <div class="col-md-8">
                        <textarea data-bind="value: NeedFinish" class="form-control" rows="4"></textarea>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-2 control-label">
                        当前进展：</label>
                    <div class="col-md-8">
                        <textarea data-bind="value: CurrentProgress" class="form-control" rows="4"></textarea>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-2 control-label">
                        推进计划：</label>
                    <div class="col-md-8">
                        <textarea data-bind="value: AdvancePlan" class="form-control" rows="4"></textarea>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-2 control-label" for="price">
                        项目金额：</label>
                    <div class="col-md-4">
                        <div class="input-group">
                            <input data-bind="value: Amount" class="form-control easyui-numberbox" data-options="precision:2,groupSeparator:','" type="text" value="">
                            <span class="input-group-addon">元
                            </span>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-2 control-label" for="taskName">
                        付款方式：</label>
                    <div class="col-md-4">
                        <input data-bind="value: TypeOfPayment" class="form-control" type="text" value="">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-2 control-label">
                        到款情况：</label>
                    <div class="col-md-4">
                        <select data-bind="value: AmountReceivedStatus" class="form-control">
                            <option value="0">未到款</option>
                            <option value="1">已收前期款</option>
                            <option value="2">已全部到款</option>
                        </select>
                    </div>
                    <div data-bind="if: AmountReceivedStatus() == '1'" class="col-md-3">
                        <div class="input-group">
                            <span class="input-group-addon">已收
                            </span>
                            <input data-bind="value: AmountReceived" class="form-control easyui-numberbox" data-options="precision:2,groupSeparator:','" type="text" value="">
                            <span class="input-group-addon">元
                            </span>
                        </div>
                    </div>
                    <div data-bind="if: AmountReceivedStatus() == '1'" class="col-md-3">
                        <div class="input-group">
                            <span class="input-group-addon">还有
                            </span>
                            <input data-bind="value: AmountRemained" class="form-control" type="text" value="">
                            <span class="input-group-addon">元
                            </span>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-2 control-label">
                        开票情况：</label>
                    <div class="col-md-4">
                        <select data-bind="value: InvoiceStatus" class="form-control">
                            <option value="0">未开票</option>
                            <option value="1">已开票</option>
                            <option value="2">已出具到账证明</option>
                        </select>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
<script type="text/ecmascript">
    (function ($) {

        var UserSelectBox = function (element, options) {
            var self = this;
            self.options = options ? $.extend(true, {}, options) : {};
            self.element = $(element);
            self.container = $("<div></div>");
            self.inputContainer = $('<div class="input-group"></div>');
            self.usersPanel = $('<div class="panel panel-default panel-user-select" style="display: none;"></div>');
            self.mouseover = false;
            self.init = function () {
                self.container.insertAfter(self.element);
                self.container.append(self.inputContainer);
                self.container.append(self.usersPanel);

                self.inputContainer.append(self.element);
                if (!options.bindValue
                    || (self.valueElement = $("#" + options.bindValue)).length == 0) {
                    self.valueElement = $('<input type="hidden" />');
                    self.inputContainer.append(self.valueElement);
                }
                self.inputContainer.append($('<span class="input-group-btn"></span>').append(
                    $('<a class="btn btn-default"><span class="glyphicon glyphicon-chevron-down"></span></a>').click(function () {
                        if ($(self.usersPanel).is(":visible")) {
                            self.element.blur();

                            self.hide();
                        } else {
                            self.element.focus();
                            self.show();
                        }
                    })));
                var usersRow = $('<div class="row">').appendTo(self.usersPanel);
                for (var i = 0; i < options.users.length; i++) {
                    usersRow.append('<div class="col-md-3"><div class="checkbox"><label><input value="' + options.users[i].Id + '" type="checkbox"><span>' + options.users[i].Name + '</span></label></div>')
                }
                self.usersPanel.find(":checkbox").click(function () {
                    var ids = [];
                    var names = [];
                    self.usersPanel.find(":checkbox").each(function () {
                        if (this.checked) {
                            var $this = $(this);
                            ids.push($this.val());
                            names.push($this.next().text());
                        }
                    });
                    self.valueElement.val(ids.join(","));
                    self.element.val(names.join(","));
                });
                self.element.keydown(function () {
                    return false;
                });
                self.element.focus(function () {
                    if (!$(self.usersPanel).is(":visible")) {
                        self.show();
                    }
                });
                self.element.blur(function (event) {
                    if (self.mouseover) {
                        self.element.focus();
                    } else {
                        self.hide();
                    }
                    return true;
                });

                self.container.mouseover(function () {
                    self.mouseover = true;
                });
                self.container.mouseout(function () {
                    self.mouseover = false;
                });

            }

            self.show = function () {
                self.clearChecked();

                if (self.valueElement.val()) {
                    var value = self.valueElement.val();
                    if (value) {
                        self.check(value.split(","));
                    }
                }

                $(self.inputContainer).find(".glyphicon").removeClass("glyphicon-chevron-down").addClass("glyphicon-chevron-up");
                self.usersPanel.show();
            };
            self.hide = function () {
                $(self.inputContainer).find(".glyphicon").removeClass("glyphicon-chevron-up").addClass("glyphicon-chevron-down");
                self.usersPanel.hide();
            };

            self.check = function (ids) {
                self.clearChecked();
                if (ids) {
                    self.usersPanel.find("input:checkbox").each(function () {
                        var $this = $(this);
                        for (var i = 0; i < ids.length; i++) {
                            if (ids[i] == $this.val()) {
                                this.checked = true;
                                break;
                            }
                        }
                    });
                }
            };
            self.clearChecked = function () {
                self.usersPanel.find("input:checkbox").each(function () {
                    this.checked = false;
                });
            };
            self.init();
        }

        $.fn.userSelectBox = function (options) {
            this.each(function () {
                new UserSelectBox(this, options);
            });
        }

    })(jQuery);
</script>
