<div class="col-md-12">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">基本信息</h3>
        </div>
        <div class="panel-body">
            <form class="form-horizontal">
                <div class="form-group">
                    <label class="col-md-2 control-label">
                        项目类型：</label>
                    <div class="col-md-4">
                        <select class="form-control">
                            <option>纵向研究</option>
                            <option>横向研究</option>
                            <option>横向咨询</option>
                            <option>纵向工作</option>
                            <option>中心工作</option>
                        </select>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-2 control-label" for="taskName">
                        项目名称：</label>
                    <div class="col-md-8">
                        <input class="form-control" type="text" id="taskName">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-2 control-label" for="description">
                        委托单位：</label>
                    <div class="col-md-8">
                        <input class="form-control" id="description" type="text">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-2 control-label">
                        开始时间：</label>
                    <div class="col-md-4">
                        <div class="input-group date form_datetime">
                            <input class="form-control" type="text" value="">
                            <span class="input-group-addon">
                                <span class="glyphicon glyphicon-remove"></span>
                            </span>
                            <span class="input-group-addon">
                                <span class="glyphicon glyphicon-calendar"></span>
                            </span>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-2 control-label">
                        截止时间：</label>
                    <div class="col-md-4">
                        <div class="input-group date form_datetime">
                            <input class="form-control" type="text" value="">
                            <span class="input-group-addon">
                                <span class="glyphicon glyphicon-remove"></span>
                            </span>
                            <span class="input-group-addon">
                                <span class="glyphicon glyphicon-calendar"></span>
                            </span>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-2 control-label">
                        需完成的材料：</label>
                    <div class="col-md-8">
                        <textarea class="form-control" rows="4"></textarea>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-2 control-label">
                        具体进展：</label>
                    <div class="col-md-8">
                        <textarea class="form-control" rows="4"></textarea>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-2 control-label">
                        推进计划：</label>
                    <div class="col-md-8">
                        <textarea class="form-control" rows="4"></textarea>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-2 control-label" for="price">
                        项目金额：</label>
                    <div class="col-md-4">
                        <div class="input-group">
                            <input class="form-control" type="text" value="">
                            <span class="input-group-addon">元
                            </span>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-2 control-label" for="taskName">
                        付款方式：</label>
                    <div class="col-md-4">
                        <input class="form-control" type="text" value="">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-2 control-label">
                        到款情况：</label>
                    <div class="col-md-4">
                        <select class="form-control">
                            <option>未到款</option>
                            <option>已收前期款</option>
                            <option>已全部到款</option>
                        </select>
                    </div>
                    <div class="col-md-3">
                        <div class="input-group">
                            <span class="input-group-addon">已收
                            </span>
                            <input class="form-control" type="text" value="">
                            <span class="input-group-addon">元
                            </span>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="input-group">
                            <span class="input-group-addon">还有
                            </span>
                            <input class="form-control" type="text" value="">
                            <span class="input-group-addon">元
                            </span>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-2 control-label">
                        开票情况：</label>
                    <div class="col-md-4">
                        <select class="form-control">
                            <option>未开票</option>
                            <option>已开票</option>
                            <option>已出具到账证明</option>
                        </select>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
