<div class="col-md-12">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">基本信息</h3>
        </div>
        <div class="panel-body">
            <form id="projectForm" class="form-horizontal">
                <div class="form-group">
                    <label class="col-md-2 control-label">
                        项目类型：</label>
                    <div class="col-md-4">
                        <select data-bind="value: Type" class="form-control">
                            <option value="0">纵向研究</option>
                            <option value="1">横向研究</option>
                            <option value="2">横向咨询</option>
                            <option value="3">纵向工作</option>
                            <option value="4">中心工作</option>
                        </select>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-2 control-label">
                        项目名称：</label>
                    <div class="col-md-8">
                        <input data-bind="value: Name" class="form-control required" type="text">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-2 control-label">
                        委托单位：</label>
                    <div class="col-md-8">
                        <input data-bind="value: Consignor" class="form-control required" id="description" type="text">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-2 control-label">
                        开始时间：</label>
                    <div class="col-md-4">
                        <div class="input-group date form_datetime">
                            <input data-bind="value: StartTime" class="form-control required" type="text" value="">
                            <span class="input-group-addon">
                                <span class="glyphicon glyphicon-remove"></span>
                            </span>
                            <span class="input-group-addon">
                                <span class="glyphicon glyphicon-calendar"></span>
                            </span>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-2 control-label">
                        截止时间：</label>
                    <div class="col-md-4">
                        <div class="input-group date form_datetime">
                            <input data-bind="value: Deadline" class="form-control required" type="text" value="">
                            <span class="input-group-addon">
                                <span class="glyphicon glyphicon-remove"></span>
                            </span>
                            <span class="input-group-addon">
                                <span class="glyphicon glyphicon-calendar"></span>
                            </span>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-2 control-label">
                        项目状态：</label>
                    <div class="col-md-4">
                        @if (ViewBag.UserInfo.RightDetail.EnableCheckProject)
                        {
                            <select data-bind="value: Status" class="form-control">
                                <option value="0">发布待审</option>
                                <option value="1">发布已审核</option>
                                <option value="2">完成待审</option>
                                <option value="3">完成已审核</option>
                                <option value="4">已取消</option>
                            </select>
                        }
                        else
                        {
                            <select data-bind="value: Status" class="form-control">
                                <option value="0">发布待审</option>
                                <option value="2">完成待审</option>
                            </select>
                        }
                    </div>
                </div>
                @if (ViewBag.UserInfo.RightDetail.EnableSetProjectUser)
                {
                    <div class="form-group">
                        <label class="col-md-2 control-label">
                            负责人：</label>
                        <div class="col-md-8">
                            <input id="ManagerIds" data-bind="value: ManagerIds" type="hidden" />
                            <input id="ManagerNames" data-bind="value: ManagerNames" class="form-control" type="text" />
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-2 control-label">
                            参与人员：</label>
                        <div class="col-md-8">
                            <input id="ParticipantIds" data-bind="value: ParticipantIds" type="hidden" />
                            <input id="ParticipantNames" data-bind="value: ParticipantNames" class="form-control" type="text" />
                        </div>
                    </div>
                }
                <div class="form-group">
                    <label class="col-md-2 control-label">
                        需完成的材料：</label>
                    <div class="col-md-8">
                        <textarea data-bind="value: NeedFinish" class="form-control" rows="4"></textarea>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-2 control-label">
                        当前进展：</label>
                    <div class="col-md-8">
                        <textarea data-bind="value: CurrentProgress" class="form-control" rows="4"></textarea>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-2 control-label">
                        推进计划：</label>
                    <div class="col-md-8">
                        <textarea data-bind="value: AdvancePlan" class="form-control" rows="4"></textarea>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-2 control-label" for="price">
                        项目金额：</label>
                    <div class="col-md-4">
                        <div class="input-group">
                            <input data-bind="value: FormattedAmount" class="form-control" type="text" value="">
                            <span class="input-group-addon">元
                            </span>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-2 control-label" for="taskName">
                        付款方式：</label>
                    <div class="col-md-4">
                        <input data-bind="value: TypeOfPayment" class="form-control" type="text" value="">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-2 control-label">
                        到款情况：</label>
                    <div class="col-md-4">
                        <select data-bind="value: AmountReceivedStatus" class="form-control">
                            <option value="0">未到款</option>
                            <option value="1">已收前期款</option>
                            <option value="2">已全部到款</option>
                        </select>
                    </div>
                    <div data-bind="visible: AmountReceivedStatus() == '1'" class="col-md-3">
                        <div class="input-group">
                            <input data-bind="value: FormattedAmountReceived" class="form-control" type="text" value="">
                            <span class="input-group-addon">已收
                            </span>
                        </div>
                    </div>
                    <div data-bind="visible: AmountReceivedStatus() == '1'" class="col-md-3">
                        <div class="input-group">
                            <input data-bind="value: AmountRemained" class="form-control" type="text" value="" readonly="readonly">
                            <span class="input-group-addon">剩余
                            </span>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-2 control-label">
                        开票情况：</label>
                    <div class="col-md-4">
                        <select data-bind="value: InvoiceStatus" class="form-control">
                            <option value="0">未开票</option>
                            <option value="1">已开票</option>
                            <option value="2">已出具到账证明</option>
                        </select>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
<div data-bind="visible: Id" class="col-md-12">
    <div class="panel panel-default table-panel">
        <div class="panel-heading">
            <ul class="list-unstyled list-inline pull-right list-panel-title">
                <li><a href="#"><span class="glyphicon glyphicon-plus"></span><span class="btn-glyphicon-content">上传附件</span></a></li>
                <li><a href="#"><span class="glyphicon glyphicon-download-alt"></span><span class="btn-glyphicon-content">下载全部</span></a></li>
            </ul>
            <h3 class="panel-title">附件列表</h3>
        </div>
        <table class="table attchment-table">
            <colgroup>
                <col style="width: 450px;">
                <col style="width: 100px;">
                <col style="width: 150px;">
                <col style="width: 40px;">
            </colgroup>
            <tbody data-bind="foreach: Attachments">
                <tr>
                    <td>
                        <a href="#"><span data-bind="text: Name"></span></a>
                    </td>
                    <td>
                        <span data-bind="text: UploadUserName"></span>
                    </td>
                    <td>
                        <span data-bind="text: UploadTime"></span>
                    </td>
                    <td>
                        <a href="#"><span class="glyphicon glyphicon-remove"></span></a>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
<div data-bind="visible: Id" class="col-md-12">
    <div data-bind="with: CommentPageList" class="panel panel-default">
        <div class="panel-heading">
            <ul class="list-unstyled list-inline pull-right list-panel-title">
                <li><a data-bind="click: $parent.refrushComments" href="#"><span class="glyphicon glyphicon-refresh"></span><span class="btn-glyphicon-content">刷新</span></a></li>
                <li><a data-bind="click: $parent.addComment" href="#"><span class="glyphicon glyphicon-comment"></span><span class="btn-glyphicon-content">发表评论</span></a></li>
            </ul>
            <h3 class="panel-title">评论列表</h3>
        </div>
        <div class="panel-body">
            <div class="row">
                <div class="col-md-12">
                    <ul data-bind="foreach: List" class="list-unstyled comment">
                        <li><span data-bind="text: CreatorName" class="comment-user">用户</span> <span data-bind="text: CreateTime" class="comment-user"></span>

                            <ul class="list-unstyled list-inline pull-right">
                                @if (ViewBag.UserInfo.RightDetail.EnbaleDeleteProject)
                                {
                                    <li><a data-bind="click: $parents[1].deleteComment" class="comment-action-link" href="#">删除</a></li>
                                }
                            </ul>
                            <hr class="title-content-hr">
                            <p data-bind="text: Content" class="comment-content">
                            </p>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12 comment-pagination">
                    <ul class="pagination pagination-sm pull-right">
                        <li data-bind="css: PageIndex() > 1 ? undefined : 'disabled'"><a data-bind="click: $parent.prePageComments" href="#"><span class="glyphicon glyphicon-chevron-left"></span></a></li>
                        <li data-bind="css: PageIndex() < MaxPageIndex() ? undefined : 'disabled'"><a href="#" data-bind="click: $parent.nextPageComments"><span class="glyphicon glyphicon-chevron-right"></span></a></li>
                    </ul>

                    <div class="pull-right">
                        <span data-bind="if: Total() > 0">第 <strong><span data-bind="text: StartIndex"></span>-<span data-bind="text: EndIndex"></span></strong> 条，</span><span>共 <strong data-bind="text: Total"></strong>条评论 </span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="attachmentDialog" class="modal fade" data-backdrop="false">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" style="font-weight: bold;">选择附件</h4>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-12">
                        <form id="attachmentFrom" class="form-horizontal">
                            <input data-bind="value: Id" name="ProjectId" type="hidden" />
                            <div class="form-group">
                                <input type="file" class="form-control" />
                                @*<textarea data-bind="value: EditCommentContent, valueUpdate: 'afterkeydown'" class="form-control" rows="8"></textarea>*@
                            </div>
                            <div class="form-group">
                                <input type="file" class="form-control" />
                                @*<textarea data-bind="value: EditCommentContent, valueUpdate: 'afterkeydown'" class="form-control" rows="8"></textarea>*@
                            </div>
                        </form>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <ul class="list-unstyle list-inline pull-right">
                            <li>
                                <button data-bind="click: saveComment, attr: {'disabled': EditCommentContent() ? undefined : 'disabled'}" type="button" class="btn btn-primary btn-primary">提交评论</button>

                            </li>
                            <li>
                                <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>

<div id="commentDialog" class="modal fade" data-backdrop="false">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" style="font-weight: bold;">评论内容</h4>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            <textarea data-bind="value: EditCommentContent, valueUpdate: 'afterkeydown'" class="form-control" rows="8"></textarea>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <ul class="list-unstyle list-inline pull-right">
                            <li>
                                <button data-bind="click: saveComment, attr: {'disabled': EditCommentContent() ? undefined : 'disabled'}" type="button" class="btn btn-primary btn-primary">提交评论</button>

                            </li>
                            <li>
                                <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>


<script type="text/ecmascript">

    var projectEditViewModel = function (project) {
        var self = this,
            priceFormatted = function (field) {
                return ko.computed({
                    read: function () {
                        return self[field]() ? self[field]().toFixed(2) : (0).toFixed(2);
                    },
                    write: function (value) {
                        value = parseFloat(value.replace(/[^\.\d]/g, ""));
                        self[field](isNaN(value) ? 0 : value); // Write to underlying storage
                    },
                    owner: self
                });
            },
            formattedDateStr = function (datetime) {
                return datetime ? datetime.replace(/\//g, '-').split(" ")[0] : datetime;
            };
        self.Id = ko.observable();
        self.Type = ko.observable();
        self.Name = ko.observable();
        self.Consignor = ko.observable();
        self.StartTime = ko.observable();
        self.Deadline = ko.observable();
        self.Status = ko.observable();
        self.ManagerIds = ko.observable();
        self.ManagerNames = ko.observable();
        self.ParticipantIds = ko.observable();
        self.ParticipantNames = ko.observable();
        self.NeedFinish = ko.observable();
        self.CurrentProgress = ko.observable();
        self.AdvancePlan = ko.observable();
        self.Amount = ko.observable();
        self.FormattedAmount = priceFormatted("Amount");
        self.TypeOfPayment = ko.observable();
        self.NeedFinish = ko.observable();
        self.AmountReceivedStatus = ko.observable();
        self.AmountReceived = ko.observable();
        self.FormattedAmountReceived = priceFormatted("AmountReceived");
        self.AmountRemained = ko.computed(function () {
            var result = self.Amount() - self.AmountReceived();
            return result.toFixed(2)
        });
        self.InvoiceStatus = ko.observable();
        self.Attachments = ko.observableArray();
        self.CommentPageList = new pageListViewModel();
        self.EditCommentContent = ko.observableArray("");

        self.addComment = function () {
            self.EditCommentContent("");
            $("#commentDialog").modal("show");
        };
        self.deleteComment = function (comment) {
            debugger;
            request("/Project/DeleteComment", { commentId: comment.Id }, function () {
                self.refrushComments();
            });
        };
        self.saveComment = function () {
            request("/Project/AddComment", { projectId: self.Id(), content: self.EditCommentContent() }, function () {
                $("#commentDialog").modal("hide");
                self.refrushComments();
            });
        };
        self.addAttachment = function () {
            self.EditCommentContent("");
            $("#commentDialog").modal("show");
        };
        self.saveAttachment = function () {
            request("/Project/AddComment", { projectId: self.Id(), content: self.EditCommentContent() }, function () {
            });
        };

        self.refrushComments = function () {
            request("/Project/LoadComments", {
                projectId: self.Id(),
                pageIndex: self.CommentPageList.PageIndex(),
                pageSize: self.CommentPageList.PageSize()
            }, function (result) {
                self.CommentPageList.update(result);
            });
        };
        self.nextPageComments = function () {
            var pageIndex = self.CommentPageList.PageIndex();
            if (pageIndex < self.CommentPageList.MaxPageIndex()) {
                self.CommentPageList.PageIndex(pageIndex + 1);
                self.refrushComments();
            }
        };
        self.prePageComments = function () {
            var pageIndex = self.CommentPageList.PageIndex();
            if (pageIndex > 1) {
                self.CommentPageList.PageIndex(pageIndex - 1);
                self.refrushComments();
            }
        };
        self.update = function (project, onlyBaseInfo) {
            self.Id(project.Id);
            self.Type(project.Type);
            self.Name(project.Name);
            self.Consignor(project.Consignor);
            self.StartTime(formattedDateStr(project.StartTime));
            self.Deadline(formattedDateStr(project.Deadline));
            self.Status(project.Status);
            self.ManagerIds(project.ManagerIds);
            self.ManagerNames(project.ManagerNames);
            self.ParticipantIds(project.ParticipantIds);
            self.ParticipantNames(project.ParticipantNames);
            self.NeedFinish(project.NeedFinish);
            self.CurrentProgress(project.CurrentProgress);
            self.AdvancePlan(project.AdvancePlan);
            self.Amount(project.Amount);
            self.TypeOfPayment(project.TypeOfPayment);
            self.NeedFinish(project.NeedFinish);
            self.AmountReceivedStatus(project.AmountReceivedStatus);
            self.AmountReceived(project.AmountReceived);
            self.InvoiceStatus(project.InvoiceStatus);
            if (!onlyBaseInfo) {
                self.Attachments(project.Attachments);
                self.CommentPageList.update(project.CommentPageList);
            }
        };
        self.update(project);
    };

</script>
