@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="row">
    <div class="col-md-12">
        <div class="system-toolbar affix">
            <div class="container">
                <div class="row">
                    <div class="col-md-3">
                        <div class="btn-group">
                            <button data-bind="click: showProjectEditView" class="btn btn-danger btn-new">
                                发布任务</button>
                        </div>
                    </div>
                    <div class="col-md-9">
                        <div id="listToolbar" class="row">
                            <div class="col-md-6">
                                <ul class="list-inline">
                                    <li>
                                        <div class="btn-group">
                                            <a href="#" class="btn btn-default btn-action dropdown-toggle" data-toggle="dropdown">
                                                <div class="btn-checkbox">
                                                    <input type="checkbox">
                                                </div>
                                                <span class="caret"></span></a>
                                            <ul class="dropdown-menu">
                                                <li><a href="#">全选</a></li>
                                                <li><a href="#">全不选</a></li>
                                            </ul>
                                        </div>
                                        <div class="btn-group item-action">
                                            <a class="btn btn-default btn-action" data-toggle="tooltip" data-placement="bottom"
                                                title="删除"><span class="glyphicon glyphicon-trash"></span></a>
                                        </div>
                                        <div class="btn-group item-action">
                                            <a class="btn btn-default dropdown-toggle btn-action" data-toggle="dropdown"><span
                                                class="glyphicon glyphicon-tags"></span><span class="caret caret-right"></span>
                                            </a>
                                            <ul class="dropdown-menu">
                                                <li><a href="#">标记为完成</a></li>
                                                <li><a href="#">标记为取消</a></li>
                                            </ul>
                                        </div>
                                        <a class="btn btn-default btn-action" data-toggle="tooltip" data-placement="bottom"
                                            title="下载"><span class="glyphicon glyphicon-download-alt"></span></a></li>
                                </ul>
                            </div>
                            <div data-bind="with: pageList" class="col-md-6">
                                @{Html.RenderPartial("PaginationPartialView");}
                            </div>
                        </div>
                        <div id="editToolbar" class="row" style="display: none">
                            <div class="col-md-6">
                                <ul class="list-inline">
                                    <li>
                                        <div class="btn-group">
                                            <a data-bind="click: showProjectListView" data-toggle="tooltip" data-placement="bottom"
                                                class="btn btn-default btn-action" title="返回"><span class="glyphicon glyphicon-arrow-left"></span></a>
                                        </div>
                                        <a data-bind="click: saveProject" data-toggle="tooltip" data-placement="bottom" class="btn btn-default btn-action" title="保存"><span class="glyphicon glyphicon-ok"></span></a>
                                        <a class="btn btn-default btn-action"
                                            data-toggle="tooltip" data-placement="bottom" title="删除"><span class="glyphicon glyphicon-trash"></span></a>
                                        @*<div class="btn-group item-action">
                                            <a class="btn dropdown-toggle btn-action" data-toggle="dropdown" title="标记"><i class="glyphicon glyphicon-tags">
                                            </i><span class="caret"></span></a>
                                            <ul class="dropdown-menu">
                                                <li><a href="#"><i class="icon-ok"></i>标记为完成</a></li>
                                                <li><a href="#"><i class="icon-off"></i>标记为取消</a></li>
                                            </ul>
                                        </div>*@ </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <hr class="toolbar-hr">
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 system-content">
                <div class="row">
                    <div class="col-md-3">
                        <div class="system-sidebar">
                            <ul class="nav system-sidenav">
                                <!-- ko foreach: { data: filterLinks, as: 'filterLink' } -->
                                <li class="nav-header"><span data-bind="text: name"></span></li>
                                <li data-bind="if: value"><a data-bind="click: clear" href="javascript:void(0);"><span
                                    class="text-all"><span class="glyphicon glyphicon-minus glyphicon-all"></span>全部</span></a></li>
                                <li>
                                    <ul data-bind="foreach: { data: selectListItems, as: 'item' }" class="nav nav-list">
                                        <li data-bind="attr: { 'class': filterLink.value() == item.value ? 'active' : ''}"><a
                                            data-bind="text: item.name, click: filterLink.select" class="" href="#"></a>
                                        </li>
                                    </ul>
                                </li>
                                <li>
                                    <hr>
                                </li>
                                <!-- /ko -->
                            </ul>
                        </div>
                    </div>
                    <div id="list" class="col-md-9">
                        <div class="row">
                            <div class="col-md-12">
                                <table class="table table-hover list-table ">
                                    <colgroup>
                                        <col style="width: 50px;">
                                        <col style="width: 120px;">
                                        <col style="width: 350px;">
                                        <col style="width: 200px;">
                                    </colgroup>
                                    <!--<thead>
                <tr>
                    <th></th>
                    <th>截止时间</th>
                    <th>项目名称</th>
                    <th style="text-align: center;">负责人</th>
                </tr>
                </thead>-->
                                    <tbody data-bind="foreach: pageList.data">
                                        <tr data-bind="click: $root.showProjectEditView">
                                            <td>
                                                <input type="checkbox">
                                            </td>
                                            <td>
                                                <span data-bind="html: daySpanHtml"></span>
                                                <br>
                                                <small data-bind="text: deadline" class="muted"></small>
                                            </td>
                                            <td>
                                                <h5 data-bind="text: taskName" style="font-weight: bold"></h5>
                                            </td>
                                            <td>
                                                <div style="text-align: center;">
                                                    <span data-bind="text: personInCharge"></span>
                                                </div>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                    <div id="edit" class="col-md-9" style="display: none">
                        <div class="row">
                            <div class="col-md-12">
                                @*                                <ul id="myTab" class="nav nav-tabs">
                                    <li class="active"><a href="#info" data-toggle="tab">任务信息</a></li>
                                    <li class=""><a href="#comment" data-toggle="tab">评论</a></li>
                                </ul>*@
                                <div id="myTabContent" class="tab-content">
                                    <div class="tab-pane fade active in" id="info">
                                        <div data-bind="with: editProject" class="row">
                                            @{Html.RenderPartial("EditPartialView");}
                                        </div>


                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
    var projectListViewModel = function () {
        var self = this;
        self.queryFilter = { FieldFilters: [], SortFields: [], PageIndex: 1, PageSize: 20 };
        self.tempDatas = [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0];
        self.filterLinks = [
            new filterLinkViewModel("RelationType", "我的项目",
                [
                    { value: "0", name: "我发布的" },
                    { value: "1", name: "我负责的" },
                    { value: "2", name: "我参与的" }
                ], ""),
            new filterLinkViewModel("Status", "项目状态",
                [
                    { value: "1", name: "进行中" },
                    { value: "3", name: "已完成" },
                    { value: "4", name: "已取消" },
                    { value: "0", name: "发布待审" },
                    { value: "2", name: "完成待审" }
                ], "1"),
            new filterLinkViewModel("Type", "项目类型",
                [
                    { value: "0", name: "纵向研究" },
                    { value: "1", name: "横向研究" },
                    { value: "2", name: "横向咨询" },
                    { value: "3", name: "纵向工作" },
                    { value: "4", name: "中心工作" }
                ], "1")];

        self.editProject = ko.validatedObservable(new projectEditViewModel({
            Type: 0,
            Name: "",
            Consignor: "",
            StartTime: "",
            Deadline: "",
            Status: 2,
            ManagerIds: "1,2,3,4,5",
            ManagerNames: "用户1,用户2,用户3,用户4,用户5",
            Amount: 0,
            AmountReceived: 0,
            AmountRemained: 0,
            Attachments: [
                { Name: "咨询策划中心任务管理系统--需求分析.docx", UploadUserName: "用户1", UploadTime: "2013-8-1 12:10" },
                { Name: "咨询策划中心任务管理系统--需求分析.docx", UploadUserName: "用户1", UploadTime: "2013-8-1 12:10" },
                { Name: "咨询策划中心任务管理系统--需求分析.docx", UploadUserName: "用户1", UploadTime: "2013-8-1 12:10" },
                { Name: "咨询策划中心任务管理系统--需求分析.docx", UploadUserName: "用户1", UploadTime: "2013-8-1 12:10" }
            ],
            CommentPageList: {
                List: [],
                PageIndex: 1,
                PageSize: 10,
                Total: 100
            }
        }));
        self.saveProject = function () {
            alert(self.editProject.errors());
            //$("#projectForm").validate().form();
        };
        self.query = function () {
            var queryFilter = {};
            queryFilter.FieldFilters = [];
            queryFilter.SortFields = [];
            for (var i = 0; i < self.filterLinks.length; i++) {
                var filterLink = self.filterLinks[i];
                queryFilter.FieldFilters.push({ Field: filterLink.field, Value: filterLink.value() });
            }
            queryFilter.PageIndex = 1;

            $.ajax({
                type: "POST",
                contentType: "application/json",
                url: "/Project/LoadProjects",
                data: ko.toJSON({ queryFilter: queryFilter })
            }).success(function () {
                //alert("1");
            }).error(function (error) {
                //alert(error);
            }).complete(function () {
                //alert("3");
            });

            //$.post("/Project/LoadProjects", JSON.stringify(), function (message) {
            //    alert("0");
            //}, "json").success(function () {
            //    alert("1");
            //}).error(function () {
            //    alert("2");
            //}).complete(function () {
            //    alert("3");
            //});
            self.queryFilter = queryFilter;
        };
        self.showProjectEditView = function () {
            $("#list").hide();
            $("#listToolbar").hide();
            $("#edit").show();
            $("#editToolbar").show();
        };
        self.showProjectListView = function () {
            $("#list").show();
            $("#listToolbar").show();
            $("#edit").hide();
            $("#editToolbar").hide();
        };

        self.pageList = ko.observable(new pageListViewModel({ List: self.query(), PageIndex: 1, PageSize: 20, Total: 0 }));
    };

    $(function () {
        ko.validation.init({
            registerExtenders: true,
            messagesOnModified: false,
            errorsAsTitle: false,            // enables/disables showing of errors as title attribute of the target element.
            errorsAsTitleOnModified: false, // shows the error when hovering the input field (decorateElement must be true)
            messageTemplate: null,
            insertMessages: false,           // automatically inserts validation messages as <span></span>
            parseInputAttributes: true,    // parses the HTML5 validation attribute from a form element and adds that to the object
            writeInputAttributes: false,    // adds HTML5 input validation attributes to form elements that ko observable's are bound to
            decorateElement: true,         // false to keep backward compatibility
            errorClass: null,               // single class for error message and element
            errorElementClass: 'error',  // class to decorate error element
            errorMessageClass: 'validationMessage',  // class to decorate error message
            grouping: {
                deep: true,        //by default grouping is shallow
                observable: true    //and using observables
            }
        });
        var users = [
             { Id: "1", Name: "用户1" },
             { Id: "2", Name: "用户2" },
             { Id: "3", Name: "用户3" },
             { Id: "4", Name: "用户4" },
             { Id: "5", Name: "用户5" },
             { Id: "6", Name: "用户6" },
             { Id: "7", Name: "用户7" },
             { Id: "8", Name: "用户8" },
             { Id: "9", Name: "用户9" },
             { Id: "10", Name: "用户10" },
             { Id: "11", Name: "用户11" },
             { Id: "12", Name: "用户12" },
             { Id: "13", Name: "用户13" },
             { Id: "14", Name: "用户14" }
        ];
        $("#ManagerNames").userSelectBox({ users: users, bindValue: "ManagerIds" });
        $("#ParticipantNames").userSelectBox({ users: users, bindValue: "ParticipantIds" });

        //$("#projectForm").validate({
        //    errorPlacement: function (error, element) {
        //    },
        //    invalidHandler: function () {
        //        return true;
        //    }
        //});
        $('input').iCheck({
            checkboxClass: 'icheckbox_minimal'
        });
        $(".form_datetime").datetimepicker({
            format: "yyyy-mm-dd",
            autoclose: true,
            pickerPosition: "bottom-left",
            minView: "month",
            language: "zh-CN",
            todayBtn: true
        });
        $(".btn-action").tooltip();
        ko.applyBindings(new projectListViewModel());
    });

</script>
