@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="row">
    <div class="col-md-12">
        <div class="system-toolbar affix">
            <div class="container">
                <div class="row">
                    <div class="col-md-3">
                        <div class="btn-group">
                            <button data-bind="click: add" class="btn btn-danger btn-new">
                                发布任务</button>
                        </div>
                    </div>
                    <div class="col-md-9">
                        <div id="listToolbar" class="row">
                            <div class="col-md-6">
                                <ul class="list-inline">
                                    <li>
                                        @if (ViewBag.UserInfo.RightDetail.EnableCheckProject)
                                        {
                                            <div class="btn-group">
                                                <a href="#" class="btn btn-default dropdown-toggle btn-action" data-toggle="dropdown">
                                                    <input data-bind="checked: AllChecked, click: function(){ return true; }, clickBubble: false" type="checkbox">
                                                    <span class="caret caret-righ"></span></a>
                                                <ul class="dropdown-menu">
                                                    <li><a data-bind="click: changeItemsChecked.bind($data, true)" href="#">全选</a></li>
                                                    <li><a data-bind="click: changeItemsChecked.bind($data, false)" href="#">全不选</a></li>
                                                </ul>
                                            </div>@*

                                            <div data-bind="visible: AnyItemSelected" class="btn-group item-action">
                                                <a class="btn btn-default btn-action" data-toggle="tooltip" data-placement="bottom"
                                                    title="删除"><span class="glyphicon glyphicon-trash"></span></a>
                                            </div>*@
                                            <div data-bind="visible: AnyItemSelected" class="btn-group item-action">
                                                <a class="btn btn-default dropdown-toggle btn-action" data-toggle="dropdown"><span
                                                    class="glyphicon glyphicon-tags"></span><span class="caret caret-right"></span>
                                                </a>
                                                <ul class="dropdown-menu">
                                                    <li><a data-bind="click: check.bind($data, 1)" href="#">标记为发布已审核</a></li>
                                                    <li><a data-bind="click: check.bind($data, 3)" href="#">标记为完成已审核</a></li>
                                                    <li><a data-bind="click: check.bind($data, 4)" href="#">标记为已取消</a></li>
                                                </ul>
                                            </div>
                                        }

                                        <a data-bind="visible: pageList.Total() > 0" class="btn btn-default btn-action" data-toggle="tooltip" data-placement="bottom"
                                            title="下载"><span class="glyphicon glyphicon-download-alt"></span></a></li>
                                </ul>
                            </div>
                            <div data-bind="with: pageList" class="col-md-6">
                                @{Html.RenderPartial("PaginationPartialView");}
                            </div>
                        </div>
                        <div id="editToolbar" class="row" style="display: none">
                            <div class="col-md-6">
                                <ul class="list-inline">
                                    <li>
                                        <a data-bind="click: back" data-toggle="tooltip" data-placement="bottom"
                                            class="btn btn-default btn-action" title="返回"><span class="glyphicon glyphicon-arrow-left"></span></a>
                                        <a data-bind="click: save" data-toggle="tooltip" data-placement="bottom" class="btn btn-default btn-action" title="保存">
                                            <span class="glyphicon glyphicon-ok"></span>

                                        </a>
                                        <div data-bind="visible: projectEdit.EnableSetCompleteCheck" class="btn-group item-action">
                                            <a data-bind="click: projectEdit.sendFinishCheck" data-toggle="tooltip" data-placement="bottom" class="btn btn-default btn-action" title="标记为完成待审">
                                                <span class="glyphicon glyphicon-tags"></span>
                                            </a>
                                        </div>
                                        @*                                        <a class="btn btn-default btn-action"
                                            data-toggle="tooltip" data-placement="bottom" title="删除"><span class="glyphicon glyphicon-trash"></span></a>*@
                                        @*<div class="btn-group item-action">
                                            <a class="btn dropdown-toggle btn-action" data-toggle="dropdown" title="标记"><i class="glyphicon glyphicon-tags">
                                            </i><span class="caret"></span></a>
                                            <ul class="dropdown-menu">
                                                <li><a href="#"><i class="icon-ok"></i>标记为完成</a></li>
                                                <li><a href="#"><i class="icon-off"></i>标记为取消</a></li>
                                            </ul>
                                        </div>*@ </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <hr class="toolbar-hr">
                @*             <div class="row">
                    <div class="col-md-10">
                        <form class="form-horizontal" role="form">
                            <div class="form-group">
                                <label class="col-md-2 control-label">项目名称</label>
                                <div class="col-md-6">
                                    <input type="email" class="form-control">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-md-2 control-label">
                                    截止时间</label>
                                <div class="col-md-4">
                                    <div class="input-group date form_datetime">
                                        <input data-bind="value: Deadline" class="form-control required" type="text" value="">
                                        <span class="input-group-addon">
                                            <span class="glyphicon glyphicon-remove"></span>
                                        </span>
                                        <span class="input-group-addon">
                                            <span class="glyphicon glyphicon-calendar"></span>
                                        </span>
                                    </div>
                                </div>
                                <label class="col-md-1 control-label">至</label>
                                <div class="col-md-4">
                                    <div class="input-group date form_datetime">
                                        <input data-bind="value: Deadline" class="form-control required" type="text" value="">
                                        <span class="input-group-addon">
                                            <span class="glyphicon glyphicon-remove"></span>
                                        </span>
                                        <span class="input-group-addon">
                                            <span class="glyphicon glyphicon-calendar"></span>
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="col-md-2">
                        <div class="form-group pull-right">
                            <button class="btn btn-default btn-action btn-primary">查询</button>
                        </div>
                    </div>
                </div>
                <hr class="toolbar-hr">*@
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 system-content">
                <div class="row">
                    <div class="col-md-3">
                        <div class="system-sidebar">
                            <ul class="nav system-sidenav">
                                <!-- ko foreach: { data: filterLinks, as: 'filterLink' } -->
                                <li class="nav-header"><span data-bind="text: name"></span></li>
                                <li data-bind="if: value"><a data-bind="click: clear" href="javascript:void(0);"><span
                                    class="text-all"><span class="glyphicon glyphicon-minus glyphicon-all"></span>全部</span></a></li>
                                <li>
                                    <ul data-bind="foreach: { data: selectListItems, as: 'item' }" class="nav nav-list">
                                        <li data-bind="attr: { 'class': filterLink.value() == item.value ? 'active' : ''}"><a
                                            data-bind="text: item.name, click: filterLink.select" class="" href="#"></a>
                                        </li>
                                    </ul>
                                </li>
                                <li>
                                    <hr>
                                </li>
                                <!-- /ko -->
                            </ul>
                        </div>
                    </div>
                    <div id="list" class="col-md-9">
                        <div class="row">
                            <div class="col-md-12">
                                @if (ViewBag.UserInfo.RightDetail.EnbaleDeleteProject)
                                {
                                    <table class="table table-hover list-table ">
                                        <colgroup>
                                            <col style="width: 40px;">
                                            <col style="width: 200px;">
                                            <col style="width: 120px;">
                                            <col style="width: 200px;">
                                            <col style="width: 190px;">
                                        </colgroup>
                                        <thead>
                                            <tr>
                                                <th></th>
                                                <th>项目名称</th>
                                                <th>负责人</th>
                                                <th>参与人</th>
                                                <th>项目状态</th>
                                            </tr>
                                        </thead>
                                        <tbody data-bind="foreach: pageList.List">
                                            <tr data-bind="css: EnableViewDetail ? undefined : 'warning'">
                                                <td>
                                                    <div class="checkbox">
                                                        <label>
                                                            <input data-bind="checked: Checked" type="checkbox">
                                                        </label>
                                                    </div>
                                                </td>
                                                <td data-bind="click: $root.edit">
                                                    <span data-bind="text: Name"></span>
                                                </td>
                                                <td data-bind="click: $root.edit">
                                                    <div>
                                                        <span data-bind="text: ManagerNames"></span>
                                                    </div>
                                                </td>
                                                <td data-bind="click: $root.showProjectEditView">
                                                    <div>
                                                        <span data-bind="text: ParticipantNames"></span>
                                                    </div>
                                                </td>
                                                <td data-bind="click: $root.edit">
                                                    <span data-bind="html: DaySpanHtml"></span>
                                                    <br />
                                                    <small data-bind="text: StartTime" class="muted"></small>-
                                                <small data-bind="text: Deadline" class="muted"></small>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                }
                                else
                                {
                                    <table class="table table-hover list-table ">
                                        <colgroup>

                                            <col style="width: 200px;">
                                            <col style="width: 120px;">
                                            <col style="width: 200px;">
                                            <col style="width: 190px;">
                                        </colgroup>
                                        <thead>
                                            <tr>
                                                <th>项目名称</th>
                                                <th>负责人</th>
                                                <th>参与人</th>
                                                <th>项目状态</th>
                                            </tr>
                                        </thead>
                                        <tbody data-bind="foreach: pageList.List">
                                            <tr data-bind="css: EnableViewDetail ? undefined : 'warning'">
                                                <td data-bind="click: $root.edit">
                                                    <h5 data-bind="text: Name"></h5>
                                                </td>

                                                <td data-bind="click: $root.edit">
                                                    <div>
                                                        <span data-bind="text: ManagerNames"></span>
                                                    </div>
                                                </td>
                                                <td data-bind="click: $root.edit">
                                                    <div>
                                                        <span data-bind="text: ParticipantNames"></span>
                                                    </div>
                                                </td>
                                                <td data-bind="click: $root.edit">
                                                    <span data-bind="html: DaySpanHtml"></span>
                                                    <br />
                                                    <small data-bind="text: StartTime" class="muted"></small>-
                                                <small data-bind="text: Deadline" class="muted"></small>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                }

                            </div>
                        </div>
                    </div>
                    <div id="edit" class="col-md-9" style="display: none">
                        <div class="row">
                            <div class="col-md-12">
                                @*                                <ul id="myTab" class="nav nav-tabs">
                                    <li class="active"><a href="#info" data-toggle="tab">任务信息</a></li>
                                    <li class=""><a href="#comment" data-toggle="tab">评论</a></li>
                                </ul>*@
                                <div id="myTabContent" class="tab-content">
                                    <div class="tab-pane fade active in" id="info">
                                        <div data-bind="with: projectEdit" class="row">
                                            @{Html.RenderPartial("EditPartialView");}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">

    function formatDateString(date) {
        return date.getFullYear() + "年" + (date.getMonth() + 1) + "月" + date.getDate() + "日";
    }

    var projectListItemViewModel = function (project) {
        var self = this,
            init = function (project) {
                project.StartTime = new Date(Date.parse(project.StartTime));
                project.Deadline = new Date(Date.parse(project.Deadline));

                self.Checked = ko.observable(false);
                self.Id = project.Id;
                self.Name = project.Name;
                self.StartTime = formatDateString(project.StartTime);
                self.Deadline = formatDateString(project.Deadline);
                self.ManagerNames = project.ManagerNames;
                self.ParticipantNames = project.ParticipantNames;
                //self.creator = project.Creator;
                //self.createTime = formatDateString(project.CreateTime);
                self.Status = project.Status;
                self.DaySpanHtml = projectDaySpanHtml(project);
                self.EnableViewDetail = project.EnableViewDetail;
            },

            projectDaySpanHtml = function (project) {
                var result = "",
                    statusName = "";
                switch (project.Status) {
                    case 0:
                        statusName = "发布待审";
                        break;
                    case 1:
                        statusName = "进行中";
                        break;
                    case 2:
                        statusName = "完成待审";
                        break;
                    case 3:
                        statusName = "已完成";
                        break;
                    case 4:
                        statusName = "已取消";
                        break;
                }
                result = '<small class="text-info">' + statusName + '</small>';

                if (project.Status != 3 && project.Status != 4) {
                    var daySpan = parseInt((project.Deadline - new Date()) / 1000 / 60 / 60 / 24),
                        daySpanStr = daySpan,
                        daySpanClass,
                        prefix = "";
                    if (daySpan < 0) {
                        daySpanStr = -daySpan;
                        daySpanClass = "timespan-expired";
                        prefix = "<small>过期</small>";
                    }
                    else if (daySpan == 0) {
                        daySpanStr = "今"
                        daySpanClass = "timespan-day";
                    } else {
                        prefix = "<small>剩余</small>";
                        if (daySpan <= 3) {
                            daySpanClass = "timespan-day";
                        } else if (daySpan <= 7) {
                            daySpanClass = "timespan-week";
                        } else if (daySpan <= 30) {
                            daySpanClass = "timespan-month";
                        } else {
                            daySpanClass = "timespan";
                        }
                    }
                    result = prefix + '<span class="' + daySpanClass + '">' + daySpanStr + '</span><small>天</small>' + ' ' + result;
                }
                return result;
            };
        init(project);
        return self;
    };

    var projectListViewModel = function () {
        var self = this,
            init = function () {
                self.queryFilter = { FieldFilters: [], SortFields: [], PageIndex: 1, PageSize: 20 };
                self.pageList = new pageListViewModel();
                self.projectEdit = new ko.validatedObservable(new projectEditViewModel({}));
                self.projectEdit.isValid();
                self.AnyItemSelected = ko.computed(function () {
                    var items = self.pageList.List();
                    for (var i = 0; i < items.length; i++) {
                        if (items[i].Checked()) {
                            return true;
                        }
                    }
                    return false;
                });

                self.query = function () {
                    query(true);
                    showProjectListView();
                };
                self.refrush = function () {
                    query();
                };
                self.nextPage = function () {
                    var pageIndex = self.pageList.nextPage();
                    if (pageIndex != -1) {
                        self.queryFilter.PageIndex = pageIndex;
                        query();
                    }
                };
                self.prePage = function () {
                    var pageIndex = self.pageList.prePage();
                    if (pageIndex != -1) {
                        self.queryFilter.PageIndex = pageIndex;
                        query();
                    }
                };
                self.back = function () {
                    query();
                    showProjectListView();
                };
                self.add = function () {
                    self.projectEdit().update({ EnableEditProject: true });
                    showProjectEditView();
                };
                self.save = function () {
                    if (self.projectEdit.isValid()) {
                        request("/Project/EditProject", { project: self.projectEdit }, function (result) {
                            self.projectEdit().update(result, true);
                            showMessage("保存成功");
                        });
                    }
                };
                self.edit = function (data) {
                    if (data.EnableViewDetail) {
                        request("/Project/GetProject", { projectId: data.Id }, function (result) {
                            self.projectEdit().update(result);
                            showProjectEditView();
                        });
                    } else {
                        showErrorMessage("无该项目的查看权限");
                    }

                };
                self.check = function (status) {
                    var projectIds = [];
                    var projects = self.pageList.List();
                    for (var i = 0; i < projects.length; i++) {
                        if (projects[i].Checked()) {
                            projectIds.push(projects[i].Id);
                        }
                    }
                    request("/Project/CheckProjects", { projectIds: projectIds, status: status }, function () {
                        self.refrush();
                        showMessage("操作成功");
                    });
                };
                self.changeItemsChecked = function (checked) {
                    var items = self.pageList.List();
                    for (var i = 0; i < items.length; i++) {
                        items[i].Checked(checked);
                    }
                };

                self.AllChecked = ko.computed({
                    read: function () {
                        if (self.pageList.List().length > 0) {
                            var items = self.pageList.List();
                            for (var i = 0; i < items.length; i++) {
                                if (!items[i].Checked()) {
                                    return false;
                                }
                            }
                            return true;
                        } else {
                            return false;
                        }
                    },
                    write: function (value) {
                        self.changeItemsChecked(value);
                    },
                    owner: self
                });

                self.filterLinks = [
                    new filterLinkViewModel("RelationType", "我的项目",
                        [
                            { value: "0", name: "我发布的" },
                            { value: "1", name: "我负责的" },
                            { value: "2", name: "我参与的" }
                        ], "", self.query),
                    new filterLinkViewModel("Status", "项目状态",
                        [
                            { value: "1", name: "进行中" },
                            { value: "3", name: "已完成" },
                            { value: "4", name: "已取消" },
                            { value: "0", name: "发布待审" },
                            { value: "2", name: "完成待审" }
                        ], "1", self.query),
                    new filterLinkViewModel("Type", "项目类型",
                        [
                            { value: "0", name: "纵向研究" },
                            { value: "1", name: "横向研究" },
                            { value: "2", name: "横向咨询" },
                            { value: "3", name: "纵向工作" },
                            { value: "4", name: "中心工作" }
                        ], "", self.query)
                ];

                query(true);
            },
            updatePageList = function (pageList) {
                pageList.List = $.map(pageList.List, function (item) {
                    return new projectListItemViewModel(item);
                });
                self.pageList.update(pageList);
            },
            query = function (updateQueryFilter) {
                if (updateQueryFilter) {
                    var queryFilter = self.queryFilter;
                    queryFilter.FieldFilters = [];
                    queryFilter.SortFields = [];
                    for (var i = 0; i < self.filterLinks.length; i++) {
                        var filterLink = self.filterLinks[i];
                        queryFilter.FieldFilters.push({ Field: filterLink.field, Value: filterLink.value() });
                    }
                    queryFilter.PageIndex = 1;
                    self.queryFilter = queryFilter;
                }

                request("/Project/LoadProjects", { queryFilter: self.queryFilter }, function (result) {
                    updatePageList(result);
                });

            },
            showProjectEditView = function () {
                $("#list").hide();
                $("#listToolbar").hide();
                $("#edit").show();
                $("#editToolbar").show();
                window.scrollTo(0, 0);
            },
            showProjectListView = function () {
                $("#list").show();
                $("#listToolbar").show();
                $("#edit").hide();
                $("#editToolbar").hide();
                window.scrollTo(0, 0);
            };

        init();
    };

    $(function () {
        $(".form_datetime").datetimepicker({
            format: "yyyy-mm-dd",
            autoclose: true,
            pickerPosition: "bottom-left",
            minView: "month",
            language: "zh-CN"
        });
    $(".btn-action").tooltip();
    ko.applyBindings(new projectListViewModel());
    });

</script>
