@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Tab = "ProjectList";
    IEnumerable<ItemSelectViewModel> users = ViewBag.Users;
    UserInfo currentUser = ViewBag.UserInfo;
}
<div class="row">
    <div class="col-md-12">
        <div class="system-toolbar affix">
            <div class="container">
                <div class="row">
                    <div class="col-md-2">
                        <div class="btn-group">
                            <button data-bind="click: add" class="btn btn-danger btn-new">
                                发布任务</button>
                        </div>
                    </div>
                    <div class="col-md-10">
                        <div id="listToolbar" class="row">
                            <div class="col-md-6">
                                <ul class="list-inline">
                                    <li>
                                        @if (ViewBag.UserInfo.RightDetail.EnableCheckProject)
                                        {
                                            <div class="btn-group">
                                                <a href="#" class="btn btn-default dropdown-toggle btn-action" data-toggle="dropdown">
                                                    <input data-bind="checked: AllChecked, click: function(){ return true; }, clickBubble: false" type="checkbox">
                                                    <span class="caret caret-righ"></span></a>
                                                <ul class="dropdown-menu">
                                                    <li><a data-bind="click: changeItemsChecked.bind($data, true)" href="#">全选</a></li>
                                                    <li><a data-bind="click: changeItemsChecked.bind($data, false)" href="#">全不选</a></li>
                                                </ul>
                                            </div>
                                            <div data-bind="visible: anyItemSelected, click: topProjects" class="btn-group item-action">
                                                <a class="btn btn-default btn-action" data-toggle="tooltip" data-placement="bottom"
                                                    title="置顶"><span class="glyphicon glyphicon-arrow-up"></span></a>
                                            </div>
                                            <div data-bind="visible: anyItemSelected" class="btn-group item-action">
                                                <a class="btn btn-default dropdown-toggle btn-action" data-toggle="dropdown"><span
                                                    class="glyphicon glyphicon-tags"></span><span class="caret caret-right"></span>
                                                </a>
                                                <ul class="dropdown-menu">
                                                    <li><a data-bind="click: check.bind($data, 1)" href="#">标记为进行中</a></li>
                                                    <li><a data-bind="click: check.bind($data, 3)" href="#">标记为已完成</a></li>
                                                </ul>
                                            </div>
                                        }

                                        <a data-bind="click: exportQuery, visible: pageList.Total() > 0" class="btn btn-default btn-action" data-toggle="tooltip" data-placement="bottom"
                                            title="导出"><span class="glyphicon glyphicon-download-alt"></span></a></li>
                                </ul>
                            </div>
                            <div data-bind="with: pageList" class="col-md-6">
                                @{Html.RenderPartial("PaginationPartialView");}
                            </div>
                        </div>
                        <div id="editToolbar" class="row" style="display: none">
                            <div class="col-md-6">
                                <ul class="list-inline">
                                    <li>
                                        <a data-bind="click: back" data-toggle="tooltip" data-placement="bottom"
                                            class="btn btn-default btn-action" title="返回"><span class="glyphicon glyphicon-arrow-left"></span></a>
                                        <a data-bind="click: save, visible: projectEdit().EnableEditProject" data-toggle="tooltip" data-placement="bottom" class="btn btn-default btn-action" title="保存">
                                            <span class="glyphicon glyphicon-ok"></span>

                                        </a>
                                        <div data-bind="visible: projectEdit().EnableSetCompleteCheck" class="btn-group item-action">
                                            <a data-bind="click: projectEdit().sendFinishCheck" data-toggle="tooltip" data-placement="bottom" class="btn btn-default btn-action" title="标记为完成待审">
                                                <span class="glyphicon glyphicon-tags"></span>
                                            </a>
                                        </div>
                                        <div data-bind="visible: projectEdit().EnableDelete" class="btn-group item-action">
                                            <a data-bind="click: $root.delete.bind($data, projectEdit())" data-toggle="tooltip" data-placement="bottom" class="btn btn-default btn-action" title="删除">
                                                <span class="glyphicon glyphicon-trash"></span>
                                            </a>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <hr class="toolbar-hr">
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 system-content">
                <div id="searchPanel" data-bind="with: searchCondition" class="col-md-5 system-search-panel">
                    <div class="arrow"></div>
                    <form role="form">
                        <div class="form-group">
                            <div class="col-md-12">
                                <div class="input-group">
                                    <span class="input-group-addon">项目名称：
                                    </span>
                                    <input data-bind="value: ProjectName" type="text" class="form-control">
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-12">
                                <div class="input-group">
                                    <span class="input-group-addon">负责人：
                                    </span>
                                    <select data-bind="value: ManagerId" class="form-control user-select" style="width: 177px;"></select>
                                    <span class="input-group-addon">参与人：
                                    </span>
                                    <select data-bind="value: ParticipantId" class="form-control user-select" style="width: 177px;"></select>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-12">
                                <div class="input-group date input-daterange">
                                    <span class="input-group-addon">开始时间：
                                    </span>
                                    <input data-bind="value: StartTimeFrom" name="start" class="form-control required" style="width: 191px;" type="text">
                                    <span class="input-group-addon">至
                                    </span>
                                    <input data-bind="value: StartTimeTo" name="end" class="form-control required" style="width: 191px;" type="text">
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-12">
                                <div class="input-group date input-daterange">
                                    <span class="input-group-addon">截止时间：
                                    </span>
                                    <input data-bind="value: DeadlineFrom" name="start" class="form-control required" style="width: 191px;" type="text">
                                    <span class="input-group-addon">至
                                    </span>
                                    <input data-bind="value: DeadlineTo" name="end" class="form-control required" style="width: 191px;" type="text">
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-12">
                                <button data-bind="click: $root.search" class="btn btn-default btn-action btn-primary">查询</button>
                                <button data-bind="click: clear" class="btn btn-default btn-action btn-default">重置</button>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="row">
                    <div class="col-md-2">
                        <div class="system-sidebar">
                            <ul class="nav system-sidenav">
                                <!-- ko foreach: { data: filterLinks, as: 'filterLink' } -->
                                <li class="nav-header"><span data-bind="text: name"></span></li>
                                <li data-bind="if: value"><a data-bind="click: clear" href="javascript:void(0);"><span
                                    class="text-all"><span class="glyphicon glyphicon-minus glyphicon-all"></span>全部</span></a></li>
                                <li>
                                    <ul data-bind="foreach: { data: selectListItems, as: 'item' }" class="nav nav-list list-inline">
                                        <li data-bind="attr: { 'class': filterLink.value() == item.value ? 'active' : ''}"><a
                                            data-bind="text: item.name, click: filterLink.select" class="" href="#"></a>
                                            <div data-bind="visible: item.count(), text: item.count" class="group-count"></div>
                                        </li>
                                    </ul>
                                </li>
                                <li>
                                    <hr>
                                </li>
                                <!-- /ko -->
                            </ul>
                        </div>
                    </div>
                    <div id="list" class="col-md-10">
                        <div class="row">
                            <div class="col-md-12">
                                @if (ViewBag.UserInfo.RightDetail.EnableCheckProject)
                                {
                                    <table class="table table-hover list-table ">
                                        <colgroup>
                                            <col style="width: 40px;">
                                            <col style="width: 250px;">
                                            <col style="width: 120px;">
                                            <col style="width: 190px;">
                                            <col style="width: 200px;">
                                            <col style="width: 40px;">
                                        </colgroup>
                                        <thead>
                                            <tr>
                                                <th></th>
                                                <th>项目名称</th>
                                                <th>负责人</th>
                                                <th>项目状态</th>
                                                <th>最新动态</th>
                                                <th></th>
                                            </tr>
                                        </thead>
                                        <tbody data-bind="foreach: pageList.List">
                                            <tr data-bind="css: EnableViewDetail ? undefined : 'active'">
                                                <td>
                                                    <div class="checkbox">
                                                        <label>
                                                            <input data-bind="checked: Checked" type="checkbox">
                                                        </label>
                                                    </div>
                                                </td>
                                                <td data-bind="click: $root.edit">
                                                    <span data-bind="text: Code"></span>
                                                    <span data-bind="text: Name"></span>
                                                </td>
                                                <td data-bind="click: $root.edit">
                                                    <div>
                                                        <span data-bind="text: ManagerNames"></span>
                                                    </div>
                                                </td>
                                                <td data-bind="click: $root.edit">
                                                    <span data-bind="html: DaySpanHtml"></span>
                                                    <br />
                                                    <small data-bind="text: StartTime" class="muted"></small>-
                                                <small data-bind="text: Deadline" class="muted"></small>
                                                </td>
                                                <td data-bind="click: $root.edit">
                                                    <div data-bind="text: LatestNews, css: HasNewsView() ? 'news' : 'read'"></div>
                                                </td>
                                                <td>
                                                    <a data-bind="click: $root.delete, visible: EnableDelete" href="#"><span class="glyphicon glyphicon-trash"></span></a>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                }
                                else
                                {
                                    <table class="table table-hover list-table">
                                        <colgroup>
                                            <col style="width: 250px;">
                                            <col style="width: 120px;">
                                            <col style="width: 200px;">
                                            <col style="width: 190px;">
                                            <col style="width: 40px;">
                                        </colgroup>
                                        <thead>
                                            <tr>
                                                <th>项目名称</th>
                                                <th>负责人</th>
                                                <th>项目状态</th>
                                                <th>最新动态</th>
                                                <th></th>
                                            </tr>
                                        </thead>
                                        <tbody data-bind="foreach: pageList.List">
                                            <tr data-bind="css: EnableViewDetail ? undefined : 'active'">
                                                <td data-bind="click: $root.edit">
                                                    <span data-bind="text: Code"></span>
                                                    <span data-bind="text: Name"></span>
                                                </td>

                                                <td data-bind="click: $root.edit">
                                                    <div>
                                                        <span data-bind="text: ManagerNames"></span>
                                                    </div>
                                                </td>
                                                <td data-bind="click: $root.edit">
                                                    <span data-bind="html: DaySpanHtml"></span>
                                                    <br />
                                                    <small data-bind="text: StartTime" class="muted"></small>-
                                                <small data-bind="text: Deadline" class="muted"></small>
                                                </td>
                                                <td data-bind="click: $root.edit">
                                                    <div data-bind="text: LatestNews, css: HasNewsView() ? 'news' : 'read'"></div>
                                                </td>
                                                <td>
                                                    <a data-bind="click: $root.delete, visible: EnableDelete" href="#"><span class="glyphicon glyphicon-trash"></span></a>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                }

                            </div>
                        </div>
                    </div>
                    <div id="edit" class="col-md-10" style="display: none">
                        <div class="row">
                            <div class="col-md-12">
                                @*                                <ul id="myTab" class="nav nav-tabs">
                                    <li class="active"><a href="#info" data-toggle="tab">任务信息</a></li>
                                    <li class=""><a href="#comment" data-toggle="tab">评论</a></li>
                                </ul>*@
                                <div id="myTabContent" class="tab-content">
                                    <div class="tab-pane fade active in" id="info">
                                        <div data-bind="with: projectEdit" class="row">
                                            @{Html.RenderPartial("EditPartialView");}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>
<div class="message-container">
    <div class="message-header">
        <div style="display: inline-block;">
            <span data-bind="text: changeMessages.total, clickBubble: false" class="badge"></span>
            @*<span class="glyphicon glyphicon-envelope"></span>*@
            <span>项目动态</span>
        </div>
        <ul class="pull-right list-inline" style="margin-bottom: 0px;">
            <li><a data-bind="click: toggleMessageList" href="#"><span class="glyphicon glyphicon-chevron-up"></span></a></li>
        </ul>
    </div>
    <div class="message-list">
        <ul data-bind="foreach: changeMessages.messages" class="list-unstyled">
            <li style="margin: 10px 5px; border-bottom: 1px solid #e7e7e7">
                <div class="project-name">
                    <span data-bind="visible: NeedCheck" class="text-danger">[待审]</span>
                    <a data-bind="click: $root.viewChangeMessage, text: ProjectName" href="#"></a>
                </div>
                <div class="change-count pull-right">
                    <span data-bind="text: Count" class="badge"></span>
                </div>
            </li>
        </ul>
    </div>
</div>
<script src="@Url.Content("~/Scripts/models/projectListViewModel.js")" type="text/javascript"></script>

<script type="text/javascript">
    $(function () {
        window.users = @Html.ToJsonString(users);
        $(".system-toolbar .btn-action").tooltip();
        new projectListViewModel(@Html.ToJsonString(currentUser));
        //showPopMessage("Test","<a href='#'>test</a>",function(){alert("1");});
        //debugger;
        //var element =document.getElementById("btnSearch");
        //var offsetLeft = element.offsetLeft; 
        //while(element = element.offsetParent ) 
        //{ 
        //    offsetLeft += element.offsetLeft; 
        //}
        $("#btnSearch").click(function () {
            var $this = $(this);
            $("#searchPanel").css("left", $this.offset().left + $this.outerWidth() - 550 + "px");
            $("#searchPanel").css("top", $this.offset().top + $this.outerHeight() + 15 + "px");
            $("#searchPanel").toggle();
        });
        $(".user-select").each(function () {
            var $this = $(this);
            $this.append('<option value=""></option>');
            for (var i = 0; i < users.length; i++) {
                if (users[i].Value != "all") {
                    $this.append('<option value="' + users[i].Value + '">' + users[i].Text + '</option>');
                }
            }
        });
    });

</script>

@if (ViewBag.UserInfo.RightDetail.EnableSetProjectUser)
{
    <script type="text/javascript">
        $(function () {
            $("#ManagerNames").userSelectBox({ users: users, bindValue: "ManagerIds" });
            $("#ParticipantNames").userSelectBox({ users: users, bindValue: "ParticipantIds" });

        });
    </script>
}
