<ul class="pull-right list-inline">
    <li><span data-bind="if: total > 0">第 <strong><span data-bind="text: startIndex"></span>
        -<span data-bind="text: endIndex"></span></strong> 项，</span><span>共 <strong data-bind="text: total">
        </strong> 项 </span></li>
    <li>
        <div class="btn-group">
            <a data-bind="css: pageIndex == 1 ? 'btn btn-default disabled' : 'btn btn-default'"><span class="glyphicon glyphicon-chevron-left"></span></a>
            <a data-bind="css: pageIndex >= maxPageIndex ? 'btn btn-default disabled' : 'btn btn-default'"><span class="glyphicon glyphicon-chevron-right"></span></a>
        </div>
        <a class="btn btn-default"><span class="glyphicon glyphicon-refresh"></span></a>
        <a class="btn btn-default"><span class="glyphicon glyphicon-search"></span></a>
    </li>
</ul>
